# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List porpular languages for Data Science
- Commonly used libraries used by Data Scientists
-  Evaluating arithmetic expressions in Python
- Creating a single column table

Some of the popular languages that Data Scientists use are:
   1. Python
   2. R
   3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn
4. TensorFlow

|Data Science Tools|
|-------|
|Jupyter Notebook|
|R Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Abdulsalam Yahaya